@using Microsoft.AspNetCore.Identity
@using BookingApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - BookingApp</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:1em;">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top">
                    BookingApp
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            User user = await UserManager.GetUserAsync(User);

                            if (user != null)
                            {
                                if (await UserManager.IsInRoleAsync(user, "User"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Booking" asp-action="Index">Vos réservations</a>
                                    </li>
                                }
                                else if (await UserManager.IsInRoleAsync(user, "Host"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Accommodation" asp-action="Index">Vos logements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Offer" asp-action="Index">Vos offres</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Booking" asp-action="Index">Vos réservations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Booking" asp-action="HostIndex">Réservations reçues</a>
                                    </li>
                                }
                                else if (await UserManager.IsInRoleAsync(user, "Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            CRUD
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-controller="Accommodation" asp-action="Index">Logement</a></li>
                                            <li><a class="dropdown-item" asp-controller="Offer" asp-action="Index">Offre</a></li>
                                            <li><a class="dropdown-item" asp-controller="Booking" asp-action="Index">Réservation</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Administration
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">CRUD Utilisateur</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <div class="container" id="mainContainer">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
