@model BookingApp.Models.Accommodation

@{
    ViewData["Title"] = "Création Logement";
}

<div class="card text-center main-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Pièces</a>
            </li>
        </ul>
    </div>
    <form asp-action="Create">
        <div class="card-body text-start">

            <h5>Informations générales :</h5>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group">
                <div class="col-md-7">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Studio entier à Paris avec vue sur le Jardin de Tuileries" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control form-select">
                        <option value="Appartement">Appartement</option>
                        <option value="Maison">Maison</option>
                        <option value="Chambre dans un appartement">Chambre dans un appartement</option>
                        <option value="Chambre dans une maison">Chambre dans une maison</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label asp-for="MaxTraveler" class="control-label"></label>
                    <input asp-for="MaxTraveler" class="form-control" min="1" step="1" placeholder="2" />
                    <span asp-validation-for="MaxTraveler" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <hr class="solid">
            <h5>Adresse :</h5>

            <div class="row form-group">
                <div class="col-md-7">
                    <label asp-for="Address.StreetAndNumber" class="control-label"></label>
                    <input asp-for="Address.StreetAndNumber" class="form-control" placeholder="92 Boulevard de Prague" />
                    <span asp-validation-for="Address.StreetAndNumber" class="text-danger"></span>
                </div>

                <div class="col-md-5">
                    <label asp-for="Address.Complement" class="control-label"></label>
                    <input asp-for="Address.Complement" class="form-control" placeholder="Appartement 116" />
                    <span asp-validation-for="Address.Complement" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Address.City" class="control-label"></label>
                    <input asp-for="Address.City" class="form-control" placeholder="Paris" />
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label asp-for="Address.PostalCode" class="control-label"></label>
                    <input asp-for="Address.PostalCode" class="form-control" placeholder="75001" />
                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Address.Country" class="control-label"></label>
                    <input asp-for="Address.Country" class="form-control" placeholder="France" />
                    <span asp-validation-for="Address.Country" class="text-danger"></span>
                </div>
            </div>

            <hr class="solid">
            <h5>Règlement intérieur :</h5>

            <div class="row form-group">
                <div class="col">
                    <label asp-for="HouseRules.ArrivalHour" class="control-label"></label>
                    <input asp-for="HouseRules.ArrivalHour" type="time" class="form-control">
                    <span asp-validation-for="HouseRules.ArrivalHour" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="HouseRules.DepartureHour" class="control-label"></label>
                    <input asp-for="HouseRules.DepartureHour" type="time" class="form-control">
                    <span asp-validation-for="HouseRules.DepartureHour" class="text-danger"></span>
                </div>
            </div>

            <div class="form-check form-check-inline">
                <input asp-for="HouseRules.PetAllowed" type="checkbox" class="form-check-input">
                <label asp-for="HouseRules.PetAllowed" class="form-check-label"></label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="HouseRules.PartyAllowed" type="checkbox" class="form-check-input">
                <label asp-for="HouseRules.PartyAllowed" class="form-check-label"></label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="HouseRules.SmokeAllowed" type="checkbox" class="form-check-input">
                <label asp-for="HouseRules.SmokeAllowed" class="form-check-label"></label>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Sauvegarder" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-outline-secondary">Retour au CRUD</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
