@page
@model Disable2faModel
@{
    ViewData["Title"] = "Désactiver l'authentification à deux facteurs (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Cette action désactive uniquement 2FA.</strong>
    </p>
    <p>
        La désactivation de 2FA ne modifie pas les clés utilisées dans les applications d'authentification. Si vous souhaitez changer la clé
        utilisé dans une application d'authentification, vous devez <a asp-page="./ResetAuthenticator">réinitialisez vos clés d'authentification.
</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Désactiver 2FA</button>
    </form>
</div>
