@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Générer des codes de récupération";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Gardez ces codes dans un endroit sûr.</strong>
    </p>
    <p>
        Si vous perdez votre appareil et ne disposez pas des codes de récupération, vous perdrez l'accès à votre compte.
    </p>
    <p>
        La génération de nouveaux codes de récupération ne modifie pas la clé utilisée dans les applications d'authentification. Si vous souhaitez changer la clé
        utilisé dans une application d'authentification, vous devez <a asp-page="./ResetAuthenticator">réinitialisez votre clé d'authentification.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Générer des codes de récupération</button>
    </form>
</div>