@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des données personnelles que vous nous avez fournies. Cette page vous permet de télécharger ou de supprimer ces données.</p>
        <p>
            <strong>La suppression de vos données ainsi que de votre compte est définitive, et celui-ci ne pourra pas être récupéré.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group" style="display: inline-block">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
            
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Supprimer</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
