@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Réinitialiser la clé d'authentification";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Si vous réinitialisez votre clé d'authentification, votre application d'authentification ne fonctionnera plus tant que vous ne l'aurez pas reconfigurée.</strong>
    </p>
    <p>
        Ce processus désactive 2FA jusqu'à ce que vous reconfiguriez votre application d'authentification.
        Si vous ne terminez pas la configuration de votre application d'authentification, vous risquez de perdre l'accès à votre compte.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Réinitialiser la clé d'authentification</button>
    </form>
</div>