@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Définir le mot de passe";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Définir le mot de passe</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-primary">
    Vous n'avez pas de mot de passe local pour ce site. Ajouter un compte local
    afin que vous puissiez vous connecter sans connexion externe.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">Nouveau mot de passe</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Confirmer le mot de passe</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Définir le mot de passe</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}