@{
    ViewData["Title"] = "Home";
}

<style>
    #mainContainer {
        padding: 0;
        max-width: 100%;
    }

    main.pb-3 {
        padding-bottom: 0em!important;
    }
</style>

<div class="container-fluid px-1 px-sm-4 mx-auto" 
     @{String background_url = "/image/background" + new Random().Next(1, 9) + ".jpg";}

     style="background-image: url('@background_url'); 
     background-size: cover; background-position: center; width: 100%; height: auto; padding-top: 12em; padding-bottom: 10em; padding-left: 2em; padding-right:2em;">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-9 col-xl-8">
            <div class="card shadow-lg p-3 mb-5 rounded">
                <div class="card-header bg-white">
                    <h4 class="mb-1">Trouvez l'hébergement de vos rêves</h4>
                    <small class="text-muted">Du gîte champêtre cosy à l'appartement citadin design</small>
                </div>

                <form action="" method="get">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label style="margin: 0.2em;">Adresse</label>
                            <input type="text" class="form-control" name="ville" placeholder="Où allez-vous ?" required>
                        </div>

                        <div class="col-md-3">
                            <label style="margin: 0.2em;">Arrivée</label>
                            <input type="date" class="form-control" name="startStay" min="<% out.print(sdf1.format(calendar.getTime())); %>" required>
                        </div>

                        <div class="col-md-3">
                            <label style="margin: 0.2em;">Départ</label>
                            <input type="date" class="form-control" name="endStay" min="<% out.print(sdf1.format(calendar.getTime())); %>" required>
                        </div>

                        <div class="col-md-2">
                            <label style="margin: 0.2em;">Voyageurs</label>
                            <input type="number" min="1" max="10" step="1" class="form-control" name="capacity" placeholder="1" required>
                        </div>

                        <div class="col-md-1 d-grid gap-2">
                            <label> </label>
                            <button type="submit" class="btn btn-success"><span class="bi bi-search"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <h2>Dernières offres publiées / Offres correspondantes à votre recherche</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.maisons-arteco.fr/wp-content/uploads/2019/10/Defrance_Web-1-1920x1080.jpg" 
                                     class="d-block w-100 card-img-top"  style="object-fit: cover; width: 100%; height: 15em;" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.illico-travaux.com/wp-content/uploads/2018/04/amenagement-interieur-04042018-1151-e1522835690753.jpg" 
                                     class="d-block w-100 card-img-top"  style="object-fit: cover; width: 100%; height: 15em;" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.planete-deco.fr/wp-content/uploads/2020/01/WA3.jpg" 
                                     class="d-block w-100 card-img-top"  style="object-fit: cover; width: 100%; height: 15em;" alt="">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body">
                        <a href="" style="color: black; text-decoration: none;">
                            <h4 class="mb-1">Ville</h4>
                        </a>

                        <p class="card-text">
                            Déposée par 
                            <a href="" style="color: black; text-decoration: none; font-weight: bold;">
                                Prénom NOM
                            </a>
                        </p>

                        <p>Disponible du xx/xx/xxxx au xx/xx/xxxx</p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="" class="btn btn-sm btn-outline-secondary">
                                    Voir l'offre
                                </a>
                            </div>

                            <div class="btn-group">
                                <a href="" class="btn btn-sm btn-outline-secondary">
                                    Profil de l'hôte
                                </a>
                            </div>

                            <small class="text-muted">xx €/Nuit</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

