@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation mot de passe oublié";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier votre email pour réinitialiser votre mot de passe.
</p>

